[submodule "upstream-bsv/Piccolo"]
	path = upstream/Piccolo
	url = https://github.com/jsburke/Piccolo
[submodule "upstream-bsv/Flute"]
	path = upstream/Flute
	url = https://github.com/jsburke/Flute
[submodule "tests"]
	path = tests
	url = https://github.com/riscv/riscv-tests
